body {
    background-color: whitesmoke;
}


div.figure {	
    height: 50px;
    border-radius: 50%;
}

img {	
    height: 200px;
    background-color: #000;
    color: #FFF;
  
    /* Agora a mágica */ 
    border-radius: 35%;
}

p {
    font-size: 18px;
    font-family: serif;
 }

 a {
    color: black;
    font-size: 20px;
    font-family: serif;
    text-decoration: none;
   }
   
   .footer {
    text-align: center; 
    position:absolute;
    bottom:0;
    width:100%;
}