body {
    background-color: floralwhite;
}

.footer {
    text-align: center; 
}

div.figure {	
    height: 50px;
    border-radius: 50%;
}

img {	

    height: 200px;
    background-color: #000;
    color: #FFF;
  
    /* Agora a mágica */
    border-radius: 35%;
}

p {
    font-size: 17px;
 }