body {
    /* background-color: floralwhite; */
    background-color: rgb(37, 35, 35);
}

.footer {
    text-align: center; 
}

div.figure {	
    height: 50px;
    border-radius: 50%;
}

img {	

    height: 200px;
    background-color: #000;
    color: #FFF;
  
    /* Agora a mágica */
    border-radius: 35%;
}

p {
    color: white;
    font-size: 18px;
 }

 a {
    color: white;
    font-size: 20px;
   }
   
h {
    color: white;
}